.container {
  background: rgb(12,9,73);
  background: radial-gradient(circle, rgba(12,9,73,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
