<mat-card>
  <mat-card-title>
    <img src="../../../../assets/img/logo.svg" alt="logo">
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="login()">
      <p>
        <mat-form-field class="form fondo">
          <mat-label style="color: #C0C0C0;"><mat-icon inline>account_circle</mat-icon> Email or Username</mat-label>
          <input style="color: #C0C0C0;" type="text" matInput formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form fondo" style="color: #C0C0C0;">
          <mat-label style="color: #C0C0C0;"><mat-icon>https</mat-icon> Password</mat-label>
          <input style="color: #C0C0C0;" type="password" matInput formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="userForm.invalid">Login</button>
      </div>

      <a routerLink="/auth/forgot" class="forgot">Forgot Password?</a>

    </form>
  </mat-card-content>
</mat-card>
