<h1 mat-dialog-title>Edit Origin</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Branch</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" style="background: rgb(12,9,73);
  background: radial-gradient(circle, rgba(12,9,73,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  color: #fff;" [mat-dialog-close]="data.animal" cdkFocusInitial>Edit</button>
</div>
