<div class="example-button-container">
  <button mat-raised-button color="primary" class="fondo" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Add origin
  </button>

  <mat-form-field class="example-form-field" style="margin-left: 20px;">
    <mat-label><mat-icon>search</mat-icon> Search</mat-label>
    <input
      style="color: #C0C0C0;"
      matInput
      type="search"
      [(ngModel)]="nameOrigin"
      (input)="search()"
    >
    <!-- <button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>

</div>

<table mat-table [dataSource]="origin" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="nickname">
    <th mat-header-cell *matHeaderCellDef> Nickname </th>
    <td mat-cell *matCellDef="let element"> {{element.branch.nickname}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> createdBy </th>
    <td mat-cell *matCellDef="let element"> {{element.createdBy?.name || 'Sin nombre'}} </td>
  </ng-container>

  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef> Operations </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialogEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteOrigin(element.id)">
        <mat-icon [ngStyle]="{'color': 'red'}">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
