<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <img src="../../../assets/img/logo.svg" alt="">

  <span class="example-spacer"></span>
  <span>{{name}}</span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <mat-nav-list role="list">
      <mat-list-item role="listitem" routerLink="./list" (click)="sidenav.close()">
        <mat-icon matListItemIcon>label</mat-icon>
        <div matListItemTitle>List</div>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="./add" (click)="sidenav.close()">
        <mat-icon matListItemIcon>add</mat-icon>
        <div matListItemTitle>Add</div>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="./add" (click)="sidenav.close()">
        <mat-icon matListItemIcon>search</mat-icon>
        <div matListItemTitle>Search</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
