.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: rgb(12,9,73);
  background: radial-gradient(circle, rgba(12,9,73,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  color: #fff;
}

.container {
  margin: 20px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  margin-right: 20px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
