<mat-card>
  <mat-card-title>
    <img src="../../../../assets/img/logo.svg" alt="logo">
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="sendEmail()">
      <p>
        <mat-form-field>
          <mat-label><mat-icon inline>account_circle</mat-icon> Email or Username*</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="myForm.invalid">Send email</button>
      </div>

      <a routerLink="/auth/login" class="forgot">Sign in</a>

    </form>
  </mat-card-content>
</mat-card>
