:host {
  display: flex;
  justify-content: center;
  margin: 200px 0;
  border: none;

}

img {
  width: 10rem;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  background: rgb(12,9,73);
  background: radial-gradient(circle, rgba(12,9,73,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

button {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  width: 100%;
  color: black !important;
}

.forgot {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}
