<h1 mat-dialog-title>Add Origin</h1>


<form [formGroup]="originForm" (ngSubmit)="createOrigin()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="branchId">
        <mat-option *ngFor="let branch of branchesArray" [value]="branch.id">
          {{branch.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary"  type="submit" cdkFocusInitial class="fondo">Add</button>
  </div>
</form>
<!-- <div mat-dialog-actions>
<button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</div> -->
