<h1 mat-dialog-title>Edit Origin</h1>
<form [formGroup]="originUpdatedForm" (ngSubmit)="updateOrigin()">
  <div mat-dialog-content>
    <mat-form-field ppearance="fill">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="branchId" a>
        <mat-option *ngFor="let branch of branches" [value]="branch.id">
          {{branch.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <!-- <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button> -->
    <button mat-raised-button color="primary" class="fondo" type="submit" [mat-dialog-close]="data.animal" cdkFocusInitial>Edit</button>
  </div>
</form>
