/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Sarabun', sans-serif;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue",
  sans-serif;
  /* background: rgb(12,9,73);
  background: radial-gradient(circle, rgba(12,9,73,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%); */
}

.fondo .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #0C0949;
}

.fondo .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  color: white;
}
